@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css');


.button{
  border-width: 1;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  align-self: flex-end;
  padding: 15px;
  

}
.access{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: transparent;
}
.radiobtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(37, 36, 39);
  color: white;
  border: 2px solid var(--input-border);
  border-radius: 10px;
  
}
.fontchange{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(199, 140, 201);
  border: 2px solid var(--input-border);
  border-radius: 10px;
}

.fontsize
{
  font-size: 50px;
}